doctype html
html(lang="es-ES")
    head
        meta(charset='utf-8')
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= "Página de Contacto"
        meta(name='description', content="")
        meta(name='keywords', content="")

        // Theme color (Only Chrome Mobile)
        meta(name="theme-color", content="#db5945")

        // Facebook meta tags
        meta(property='og:title', content="")
        meta(property='og:description', content="")
        meta(property='og:type', content="Página de Contacto")
        meta(property='og:url', content="")
        meta(property='og:image', content="")

        //Favicon
        link(rel='shortcut icon', type='image/x-icon', href="images/favicon.png")

        //Canonical
        link(rel="canonical", href="http://localhost")
        link(rel='stylesheet', href='css/style.css')
        link(rel="stylesheet", href="https:////netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css")
        link(rel="stylesheet", href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css")


    body
        block identify
            input#identify(type="hidden", data-controller="home", data-action="")


        block content


        block bottom

        // jQuery Librerias
        script(src='js/vendor/vendor_all.js', type='text/javascript')

        // Compilado de application.js
        script(src='js/bundle.js')