.vcard-header
    .header-wrapper
        .header-info
            .img
            h4.full-name Alberto Trece
        .header-functions
            a(href="tel:95345456")
                i.icon-phone.dynamicTextColor
                small.dynamicTextColor Llamar
            a(href="mailto:aaa@gmail.com?subject=From my vCard&amp;body=" class="last-element")
                i.icon-location-arrow.dynamicTextColor
                small.dynamicTextColor Email